*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh; */
    background: url('pic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container-first {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 70px;
}

h1 {
    text-transform: uppercase;
    font-size: 110px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}

.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn-first:nth-child(1){
    margin-right: 30px;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px;
    margin-top: 20px;
}
.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo {
    right: 2.9%;
    top: 4%;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

#emailForm {
    max-width: 70%;
    margin: 50px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(8px);
}

#emailForm p {
    font-size: 19px;
    color: #f1f1f1;
    line-height: 1.5;
    margin-bottom: 20px;
}

#emailForm p span{
    font-size: 28px;
}


#emailForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #f1f1f1;
    font-size: 14px;
}

#emailForm input {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

#emailForm input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#emailForm input:focus {
    border-color: #007BFF;
    background: rgba(255, 255, 255, 0.3);
}

#emailForm button {
    background: transparent;
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    padding: 12px 25px ;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

#emailForm button:hover {
    background: #f1f1f1;
    color: #333;
}
